<p style="color: green"><%= notice %></p>

<h1>
  Products
  <% if params[:query].presence %>
    containing "<%= params[:query] %>
  <% end %>
</h1>

<%= form_with method: :get do |form| %>
  <%= form.search_field :query, value: params[:query], oninput: "this.form.requestSubmit()" %>
<% end %>

<div id="products">
  <% @products.each do |product| %>
    <%= render product %>
    <p>
      <%= link_to "Show this product", product %>
    </p>
  <% end %>
</div>

<%= link_to "New product", new_product_path %>
